/*BACKGROUND*/
    .bg_delice-des-sens{
        background: url('../img/restaurants/le-delice-des-sens.jpg') no-repeat center center;
        background-size: cover;
        height: 35rem;
    }

    .bg_a-la-francaise{
        background: url('../img/restaurants/a-la-francaise.jpg') no-repeat center center;
        background-size: cover;
        height: 35rem;
    }

    .bg_la-note-enchantee{
        background: url('../img/restaurants/la-note-enchantee.jpg') no-repeat center center;
        background-size: cover;
        height: 35rem;
    }

    .bg_la-palette-du-gout{
        background: url('../img/restaurants/la-palette-du-gout.jpg') no-repeat center center;
        background-size: cover;
        height: 35rem;
    }
    