$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

$color-txt: #000;
$color-txt-light: lighten($color-txt, 23);
$color-txt-white: #fff;

$color-bg-light: #f2f2f2;
$color-bg-white: #fff;

$color-btn: linear-gradient(160deg, $color-secondary, $color-primary);

$color-shadow: #c2c2c2;

@mixin typo-logo{
    font-family: 'Shrikhand', cursive, Arial, Helvetica, sans-serif;
    font-weight: normal;
}

@mixin box-shadow{
    box-shadow: .5rem .5rem .7rem $color-shadow;
}

@mixin box-shadow-hover{
    box-shadow: .7rem .7rem 1rem $color-shadow;
    opacity: 0.8;
}

@mixin text-shadow-hover{
    text-shadow: 0.3rem 0.3rem 0.5rem $color-primary;
}

@mixin desktop-tablet{
    @media only screen and (min-width: 768px){
        @content;
    }
}

/*PRIX MENU*/
    $price-one: '25€';
    $price-two: '35€';
    $price-three: '20€';
    $price-four: '40€';
    $price-five: '44€';
    $price-six: '18€';
    $price-seven: '22€';
    $price-eight: '23€';

    @mixin pricing($content:$price-one){
        content: $content;
        font-weight: bold;
        position: absolute;
        right: 2.5rem;
        bottom: 1.5rem;
        transition: all .275s ease-in-out;
        @include desktop-tablet{
            bottom: 2.5rem;
        }
    }

